* {
    box-sizing: border-box;
}
body {
    background: #262626;
    margin: 0;
    color: #fff;
    height: 100vh;
    display: flex;
}
.drag {
    margin: auto;
    width: 100%;
    max-width: 1250px;
    height: 95%;
    border: 1px solid #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.drag-item {
    height: 50px;
    width: 48%;
    background-color: #fff;
    cursor: pointer;
    color: #262626;
}
.drag-element , .drop-zone {
    width: 48%;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.drag-element .drag-item:nth-child(n+3), .drop-zone .drag-item:nth-child(n+3) {
    margin-top: 1rem;
}

.drop-zone {
    background: #efefef;
}

.drag-element {
    background: #444444;
}

.drop-zone .drag-item {
    background: #262626;
}

.selected {
    opacity: 0.6;
}