body {
    margin: 0;
    background: rgb(36, 36, 36);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    cursor: none;
}

#cursor {
    position: absolute;        
    border: 1px solid #fff;
    border-radius: 9999px;
    height: 30px;  
    width: 30px;    
    display: flex; 
    background: rgb(36, 36, 36); 
    z-index: 10000;   
}
#cursor div {
    border: 1px solid #fff;
    margin: auto;    
    border-radius: 9999px;
    animation: 1s anim infinite ease-out;
}

@keyframes anim {
    from {
        height: 20%;
        width: 20%;
    }
    50% {
        height : 80%;
        width: 80%;
    }
    to {
        height: 20%;
        width: 20%;
    } 
}

.block-wrap {
    margin: auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    width: 800px;
}

.b-item {
    margin: 1rem;
    width: 230px;
    height: 230px;
    border: 1px solid #fff;
    transition: 0.5s;
    display: flex;    
    justify-content: center;
    align-items: center;    
}