body {
    background: #505050;
    color: #fff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    margin: 1rem 0;
}

a {
    color: #fff;
}

input {
    background: transparent;
    border: 1px solid #fff;
    height: 25px;
    width: 300px;
    color: #fff;
}

button {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    height: 28px;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: auto;
}

.wrapper-circle {
    margin: 1rem 0;
}
.out-circle {
    width: 0;  
    height: 0;    
    border-radius: 999999px;
    transition: 0.5s;
    background: #fff;
}